@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {/*티웨이하늘-제목*/
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {/*티웨이항공-내용*/
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section{
    font-family: 'twayair';
    padding: 130px 70px 100px 130px;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
#wrap{
    grid-column: 1 / 2;
    height: 70vh;
    width: 40vw;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
}
/* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
#calendar-container{
    padding: 20px;
    float: right;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
    height: 70vh;
    width: 40vw;
}
#calendar{
    padding-top: 20px;
    width: 100%;
    height: 100%;
}
#calendar .fc button{
    background-color: #f9eca0;
}

.fc .fc-toolbar-title{
    text-align: center;
    font-size: 2em;
    color: tomato;
}
.fc-header-toolbar {
    padding-top: 1em;
}

#up{
    padding: 40px;
    position: relative;
    width: 100%;
    height: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
}
#upForm{
    align-items: center;
    justify-content: center;
}

.img{
    width: 30%;
    height: 30%;
    margin: 0 auto;
}
img{
    border-radius: 50%;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.upload{
    padding: 10px 0 20px 0;
    margin: 0 auto;
    text-align: center;
}

#table{
    background-color: #fffbce;;
    width: 350px;
    height: 100%;
    margin: 0 auto;
    text-align: left;
}
th{
    color: #ff9856;
    border-right: 1px solid #f5f2ed;
    line-height: 20px;
}
td{
    padding-left: 5px;
    font-weight: lighter;
    color: #643520;
}
#btm{
    padding-top: 100px;
    display: grid;
    width: 100%;
    height: 60%;
    justify-content: center;
}
#favWrap{
    border: 1px solid #f5f2ed;
    font-family: 'twayair';
    width: 350px;
    height: 100%;
    -ms-overflow-style: none;
}
#favWrap::-webkit-scrollbar{ display:none;}
.favItem{
    text-align: center;
    width: 100%;
}
.favItem > div {
    height: 20px;
}
.rsnm{
    color: #643520;
    border-collapse: separate;
    border-spacing: 1px;
    background-color: #fffcf4;
    border: 1px solid #f5f2ed;
}

#rsvWrap {
    width: 0;
    height:0;
    -ms-overflow-style: none;
}
#rsvWrap::-webkit-scrollbar{ display:none; }

.rsvTable{
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
}
.rsvTh{
    color: #ff9856;
    width: 30%;
    background-color: #fffbce;
    font-weight: bold;
    vertical-align: top;
    text-align: center;
}
.rsvTd{
    vertical-align: top;
    border: 1px solid #f5f2ed;
    background-color: #fffcf4;
    color: #643520;
}

.rsvItem {
    text-align: center;
    width: 100%;
}
.rsvItem > div {
    height: 20px;
    background-color: antiquewhite;
}
h3{
    color: #ff9856;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fffbce;
}

.fc-event-title:hover {
}